@model OpenBookSystemMVC.Models.EditPatientModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="signUpElementsBody">
    @using (Html.BeginForm(Model.Action, "Patients", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        
        <div class="signUpTitle">
            @Resources.ClientDefault.EditPatientDetails_Edit_Patient
        </div>
            
        <div class="signUpShadow">
            &nbsp;
        </div>

        <div class="signUpMiddleContent">
            <table class="signUpTable">
                    
                <tr class="editPatTableRow">
                    <td class="editPatTableLabelCell">@Html.LabelFor(m => m.FirstName) </td>
                    <td class="signUpTableInputCell">
                        @Html.TextBoxFor(m => m.FirstName, new { @class = "signUpTableInput" })
                        *
                    </td>          
                </tr>

                <tr class="editPatTableRow">
                    <td class="editPatTableLabelCell">@Html.LabelFor(m => m.LastName)</td>
                    <td class="signUpTableInputCell">
                        @Html.TextBoxFor(m => m.LastName, new { @class = "signUpTableInput" })
                        *
                    </td>
                </tr>

                <tr class="editPatTableRow">
                    <td class="editPatTableLabelCell">@Html.LabelFor(m => m.Email) </td>
                    <td class="signUpTableInputCell">
                        @Html.TextBoxFor(m => m.Email, new { @class = "signUpTableInput" })
                        *
                    </td>
                </tr>

                <tr class="editPatTableRow">
                    <td class="editPatTableLabelCell"> @Html.LabelFor(m => m.Password) </td>
                    <td class="signUpTableInputCell">
                        @Html.PasswordFor(m => m.Password, new { @class = "signUpTableInput" , value = Model.Password})
                        *
                    </td>
                </tr>

                <tr class="editPatTableRow">
                    <td class="editPatTableLabelCell"> @Html.LabelFor(m => m.ConfirmPassword) </td>
                    <td class="signUpTableInputCell">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "signUpTableInput" , value = Model.Password})
                        *
                    </td>
                </tr>

                <tr class="editPatTableRow">
                    <td class="editPatTableLabelCell"> @Html.LabelFor(m => m.Age) </td>
                    <td class="signUpTableInputCell">
                        @Html.TextBoxFor(m => m.Age, new { @class = "signUpTableInput" })
                    </td>
                </tr>

                <tr class="editPatTableRow">
                    <td class="editPatTableLabelCell"> @Html.LabelFor(m => m.Gender) </td>
                    <td class="signUpTableInputCell">
                    <div class="ddlCustomContainer ddlSexCont">
                        @Html.EnumDropDownListFor(m => m.Gender, new { @class = "customRoundedDDL", style = "width:100px;height:32px;" })
                    </div>
                    </td>
                </tr>

                <tr class="editPatTableRow">
                    <td class="editPatTableLabelCell"> @Html.LabelFor(m => m.PhoneNumber) </td>
                    <td class="signUpTableInputCell">
                        @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "signUpTableInput" })
                    </td>
                </tr>

            </table>
            <div class="signUpMdlRight"> @*/Images/profile_photoFrm.png*@
                <img runat="server" id="imgSignUpProfilePic" class="signUpImg" src="@Model.DisplayImage()"/>
                @Html.TextBoxFor(m => m.ImageFile, new { @class = "isHidden", type = "file", id = "fileupProfilePicture" })
                <input type="button" value="@Resources.ClientDefault.Browse_Dots" id="btnSelectPicture" class="signUpUploadPic"/>
            </div>

            <div class="editPatBottomPan">
                <div>
                    @Html.LabelFor(m => m.AdditionalInformation, new { @class = "editPatDetLabel" })
                    @Html.TextAreaFor(m => m.AdditionalInformation, new { @class = "editPatInfoArea" })
                </div>
            </div>
        </div >

        <div class="signUpShadow">
            &nbsp;
        </div>

        <div class="signUpValDiv">
            <div class="signUpRequiredLbl">
                @Resources.ClientDefault.Req_Field
            </div>

            @Html.ValidationSummary(false, @Resources.ClientDefault.Error_List, new { @class = "signUpErrSummary" })

        </div>
        
        <div class="signUpSubmit">
            <input id="btnSubmit" class="btnSubmitSignUp" value="@Model.SaveButtonLabel" type="submit"/>
        </div>
        
        @Html.HiddenFor(m => m.Action)
        @Html.HiddenFor(m => m.CarerID)
        @Html.HiddenFor(m => m.ImageURL)
        @Html.HiddenFor(m => m.UserID)
        @Html.HiddenFor(m => m.SaveButtonLabel)

    }
</div>

@Scripts.Render("~/bundles/jquery-unobtrusive")
@Scripts.Render("~/bundles/jquery-validation")
@Scripts.Render("~/bundles/jquery-unobtrusive-validate")
@Scripts.Render("~/bundles/fileValidations")
@Scripts.Render("~/bundles/agevalid")

<script type="text/javascript">
    $(document).ready(function () {
        $('#btnSelectPicture').click(function () {
            $('#fileupProfilePicture').click();
        }).show();
    });
</script>