@model OpenBookSystemMVC.Models.PatientsListModel

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    
@Styles.Render("~/Content/smoothDivScroll")

<div class="selDocBody" onselect="return false;">
        <div runat="server"  class="selDocTitle">
            <span id="lblTitle"> @Model.CarerTitle </span>
        </div>

        <div class="usersList">
            @if (Model.Patients.Any())
            {
                foreach (CarerUser carerUser in Model.Patients)
                {
                    <div class="patListItem" data-id="@carerUser.User.AccountId">
                        
                        <a href="@Model.EditUserProfileFront(carerUser.User.AccountId)" class="users-image-anchor">
                            <img class="patient-list-image " runat="server"
                                src="@Model.UserImageUrl(carerUser.User.AccountId)" 
                                data-userid="@carerUser.User.AccountId" />
                        </a>

                        <div class="personalInfo">
                            <span>@carerUser.User.FullName()</span>
                            <br />
                            <span>@string.Format("{0} {1}",carerUser.User.Age,"Years")</span> @* Todo localize *@
                        </div>

                        <div class="userOperations">
                            <ul>
                                <li>
                                    <a href="@Model.ViewUserNotifications(carerUser.User.AccountId)">@ClientDefault.SiteMaster_Notifications</a>
                                    
                                    @if (carerUser.NewNotifications > 0) 
                                    {
                                        <span class="newItems">
                                            @string.Format("{0} {1}", carerUser.NewNotifications, ClientDefault.UserAccount_New) 
                                        </span>
                                    }                                   
                                </li>
                                <li>
                                    <a href="@Model.EditUserLibrary(carerUser.User.AccountId)">@ClientDefault.Users_Library</a>
                                    @if (carerUser.NewDocuments > 0) 
                                    {
                                        <span class="newItems">
                                            @string.Format("{0} {1}", carerUser.NewDocuments, ClientDefault.UserAccount_New)
                                        </span>
                                    }                                   
                                </li>
                                <li>
                                    <a href="@Model.EditUserProfile(carerUser.User.AccountId)">@ClientDefault.SiteMaster_Preferences</a>
                                </li>
                            </ul>
                        </div>    
                           
                    </div>
                }
            }              
        </div>

        <div class="users-messages hide" >
            <span class="users-message-success hide">@ClientDefault.Users_DeleteSuccess</span>
            <span class="users-message-error hide">@ClientDefault.Users_DeleteError</span>
            <span class="users-message-noselect hide">@ClientDefault.Users_NoSelected</span>
        </div>

        <div class="bottomBar">
            <a class="users-button" id="users-register" href="/Account/Create">@ClientDefault.Users_Register</a>
            <a class="users-button" id="users-delete">@ClientDefault.Users_Delete</a>
        </div>

</div>

@Scripts.Render("~/bundles/users")

@*<script src="~/Scripts/UsersViewModel.js"></script>*@
