@model OpenBookSystemMVC.Models.OBISMenu

@Scripts.Render("~/bundles/menuHelper")
<div id="itemPlaceHolder">    
    @if (Model.IsUnAuthorizedUser)
    {  
        foreach (OpenBookSystemMVC.Models.MenuItem item in Model.Items)
        {
            <a class="langFlagTitleDiv" href=@item.Route target="_self">
                <img class="imgFlags" src=@item.IconUrl  />
                @if (item.IsSelected)
                {
                    <span class="languageText txtItemFit selLang" > @item.Label </span>
                }      
                else
	            {
                    <span class="languageText txtItemFit" > @item.Label </span>   
	            }        
            </a>
        }
    }
    else
    {
        foreach (OpenBookSystemMVC.Models.MenuItem item in Model.Items)
        {
            if (item.IsSeparator)
            {
                <img src="@item.IconUrl" class="menuSeparator" />
            }
            else
            {               
                
                <a class="patientMenuButton" href="@item.Route" @item.Attributes title="@item.Hint">
                    @if (!string.IsNullOrEmpty(item.IconUrl))
                    {
                        <img src="@item.IconUrl" class="imgFlags" />    
                    }
                    
                    @if(item.IsSelected)
                    {
                        <span class="menuText txtItemFit selectedMenu"> @item.Label </span>
                    }
                    else
	                {
                        <span class="menuText txtItemFit"> @item.Label </span>    
	                }
                </a>
            }
        }
    }
    <div id="dlgNavigationHelp" style="display: none;">
        @{
            if(!string.IsNullOrEmpty(Model.HelpPage)) {
               Html.RenderAction("ShowHelp", "Help", new { strHelpPage = Model.HelpPage });
            }
        }
    </div>
</div>

