<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <title> OpenBookSystem </title>
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" type="image/x-icon" href="@Url.Content("~/Images/favicon.ico")">

    <script>

    </script>
    @Scripts.Render(ResourcesUtility.GetCurrentResourceBundle())
    @Styles.Render("~/Content/global")
    @Styles.Render("~/Content/font-awesome/css/fontawesome")


    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/jquery-ui-1.9.1.custom.min.js"></script>
    @*<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>*@
    @Scripts.Render("~/bundles/globals")

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/knockout")
</head>
<body>
    <div id="body" class="siteBody">
        @if (ViewData["ShowHead"] != null && (bool)ViewData["ShowHead"])
        {
            <div class="sitemasterHead" runat="server" id="siteTitleHead" visible="false">
                <div class="gradient-fix FIRST-wrapper">
                    <img src="/Images/site.master/FirstProjectLogo.png" class="firstLogo"/>
                </div>
                <div class="project-info">
                    The project leading to this software product is partially funded by the European Commission under the Seventh Framework Programme (FP7-2007-2013) for Research and Technological Development under grant agreement № 287607.
                </div>
                <div class="gradient-fix REST-wrapper">
                    <img src="/Images/site.master/7FP.png" class="sevenfpLogo"/>
                    <div class="gradient-fix inbetween-logos"></div>
                    <img src="/Images/site.master/EUflag.png" class="euflagLogo"/>           
                </div>
            </div>
            ViewData["ShowHead"] = false;          
        }

                
        <div class="MasterMenuBody">
            <div class="masterMenu" >
                <img src="~/Images/site.master/OpenBookLogo.png" class="obLogo"/>
@*                <a style="border:none;">
                    <img src="/Images/site.master/LogoOB.png" class="obLogo" />
                </a>
                <img src="/Images/site.master/OBnadpis.png" class="obLogoText" />   *@            

                @{ Html.RenderAction("Menu", "Navigation"); } 
               
            </div>
           @if (OBSSecurity.FeedbackEnabled && Context.User.Identity.IsAuthenticated)// && CurrentUser.Details(Context.User.Identity.Name).Role == AccountRoles.Carer)
           {
                <span class="icon-envelope" title="@ClientDefault.Feedback_SendFeedback"></span>
               
                <div id="systemFeedbackContainer">
                    <textarea id="systemFeedbackText">
                    </textarea>
                    <div class="sendMailLoader"></div>
                    <div id="resultMessage" class="putMessageOnTop"></div>
                </div>
               
           }
        </div>
        <div class="pageContent">
            @RenderBody()
        </div>


@*        This code bellow is the implementation of a chat box which persists it's chat session.
        It was to be removed so I commented it, just in case a decision from above to reinstate the chat is received.*@
@*        @if (LayoutHelpers.IsChatAvailable)
        {
            <div class="chatbox-etiquette hide">
                <div class="chatbox-window" data-bind="visible: IsChatWindowOn">
                    <img data-bind="click: ToggleChatWindow" src="~/Images/gray-close-24.png" class="chatbox-close" />
                    <ul class="chatbox-messages" data-bind="foreach: ChatMessages">
                        <li>
                            <!-- ko if: $data.IsFirst -->        
                            <span class="chatbox-username" data-bind="text: $root.GetUserName($data)"></span>
                            <br />
                            <!-- /ko -->
                            <div class="chatbox-message-body">
                                <p data-bind="text: $data.Content"></p>
                                <span data-bind="text: $data.TimeStamp"></span>
                            </div>
                        </li>
                    </ul>
                    <textarea tabindex="1000" class="chatbox-input" data-bind="returnKey: SendChatMessage"></textarea>
                </div>
                <div class="chatbox-statusbar" data-bind="click: ToggleChatWindow, visible: IsCarerOnline">@ClientDefault.DocumentEdit_CarerOn</div>
            </div>
                        
            @Scripts.Render("~/bundles/moment")
            @Scripts.Render("~/bundles/chatview")
        }*@



    </div>

        <script>

            $(document).ready(function () {
                if ($('.patientMenuButton').length > 0) {
                    $('.patientMenuButton').tooltip({ tooltipClass: "color-dark-gray" });
                }
            });

    </script>
</body>
</html>
