@model OpenBookSystemMVC.Models.LogInModel

@{
    ViewBag.Title = "LogIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Html.EnableClientValidation();
}

@{
    @Styles.Render("~/Content/login")
    <div class="leftLogInDiv">
        @using (Html.BeginForm("LogIn","Master")) {
            @*@Html.AntiForgeryToken()*@
            <div class="leftLogInTable">
                <div class="loginRow">
                    <div class="logTextDiv">
                        @Html.LabelFor(m => m.UserName,new { @class = "logInLabelText" })
                    </div>
                    <div class="logInputDiv">
                        @Html.TextBoxFor(m => m.UserName, new { @class = "logInInput" })
                        @Html.ValidationMessageFor(m => m.UserName,"", new { @class = "logInFailed" })
                    </div>
                </div>
                <div class="loginRow">
                    <div class="logTextDiv">
                        @Html.LabelFor(m => m.Password,new { @class = "logInLabelText" })
                    </div>
                    <div class="logInputDiv">
                        @Html.PasswordFor(m => m.Password, new { @class = "logInInput" })
                        @Html.ValidationMessageFor(m => m.Password,"", new { @class = "logInFailed" })
                    </div>
                </div>
                <div class="loginErrorDiv">
                    @Html.ValidationSummary(true, string.Empty, new { @class = "logInFailed" })
                </div>
                <div class="leftLogInBtn">

                    <input type="submit" class="btnLogIn" id="" value="@Resources.ClientDefault.LogIn_Log_In_C" />
                    @Html.CheckBoxFor(m => m.RememberMe, new { @class = "loginRememberMe" })
                    @Html.LabelFor(m => m.RememberMe)
                </div>
                <div class="rememberMeContainer">
                    <a href="/RequestPasswordRetrieve">@ClientDefault.LogIn_ForgotPassword</a>
                </div>

            </div>
        }
    </div>    
    
    <div class="rightLogInDiv @if (!OBSSecurity.SignUpEnabled) { Write(" btnDisabled"); }">
        <div class="rightSignUpTitle ">
            @Resources.ClientDefault.LogIn_No_Account_Question
        </div>

        <div class="signBtnDiv">
            <a id="btnSignUpPatient" class="btnSignUpPat" @if (OBSSecurity.SignUpEnabled) { Write("href=/SignUp/1 target=_self"); } >@Resources.ClientDefault.LogIn_Sign_Up_C</a> 
        </div>

        <div class="signBtnCare">
            <a class="signCarersA" @if (OBSSecurity.SignUpEnabled) { Write("href=/SignUp/2 target=_self"); } > @Resources.ClientDefault.LogIn_Carers_Click </a>
        </div>

        @if (!OBSSecurity.SignUpEnabled) 
        {
            <a class="contact-us" href="http://first-asd.eu/contact_us" target="_blank">
                @ClientDefault.LogIn_ContactUs
            </a>
        }
    </div>
    
    <span class="disclaimer"> @ClientDefault.LogIn_Disclaimer <a target="_blank" href="http://www.first-asd.eu">www.first-asd.eu</a></span>    
        
    @*Тази вълидация създава проблеми с IE8
    @Scripts.Render("~/bundles/jquery-unobtrusive")
    @Scripts.Render("~/bundles/jquery-validation")
    @Scripts.Render("~/bundles/jquery-unobtrusive-validate")*@
    @Scripts.Render("~/bundles/login")
    
}
