@model OpenBookSystemMVC.Models.RequestPasswordRetrievalModel

@{
    ViewBag.Title = "RequestPasswordRetrieval";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/passrequest")

@using (Html.BeginForm("RequestPasswordRetrieval", "Master", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="requestRetrieveBody">

        <div class="requestContainer">
            <label for="txtEmail">@ClientDefault.PasswordRequest_EnterEmail</label>
            @Html.TextBoxFor(x => x.Email, new { id = "txtEmail", tabindex = "0" })

            @Html.ValidationSummary(false, string.Empty, new { @class = "signUpErrSummary" }) 

            <button type="submit" id="btnRequestRetrieval" class="submitButton" tabindex="2" >@ClientDefault.PasswordRequest_RetrievePassword</button>           

            <span class="serviceError">@Model.ErrorMessage</span>
        </div>

        

        @Scripts.Render("~/bundles/jquery-unobtrusive")
        @Scripts.Render("~/bundles/jquery-validation")
        @Scripts.Render("~/bundles/jquery-unobtrusive-validate")

    </div>
}
