@model OpenBookSystemMVC.Models.TestModel

@{
    ViewBag.Title = "GetExplanations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/test")

<div class="selDocBody">
    <div runat="server" class="selDocTitle">
        @Model.document.Title
    </div>

    @{ Write(Html.Raw(Model.GetExplanationTable())); }

    <button class="button c_button" id="btnToTheTest" data-document-id="@Model.document.Id">@Resources.ClientDefault.Explanations_ContinueToTheText</button>
    <div class="clear"></div>
</div>

@Scripts.Render("~/bundles/test")