@model OpenBookSystemMVC.Models.TestModel

@{
    ViewBag.Title = "GetTest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/test")

<div class="selDocBody">
    <div runat="server" class="selDocTitle">
        @Model.document.Title
    </div>

    <div id="qiuestionArea">
        <div id="questionNumber"></div>
        <div id="questionContent"></div>
        <div id="questionAnswers"></div>
    </div>

    <button class="button c_button hidden" id="btnNextQuestion" data-document-id="@Model.document.Id">@Resources.ClientDefault.DocumentTest_NextQuestion</button>
    <button class="button c_button hidden" id="btnFinishTheTest" data-document-id="@Model.document.Id">@Resources.ClientDefault.DocumentTest_FinishTheTest</button>
    <div class="clear"></div>
</div>

@Scripts.Render("~/bundles/test")
@Scripts.Render("~/bundles/jquery-validation")
