@model OpenBookSystemMVC.Models.NotificationsModel

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/font-awesome/css/fontawesome")
@Styles.Render("~/Content/notifs")


<h3 class="notifPageTitle"> @ClientDefault.SiteMaster_Notifications </h3>

<div class="notificationsBody">

    <div class="usersContainer" data-bind="visible: IsCarer">
        <span>@ClientDefault.Notifications_Users</span>
        <select data-bind="options: Users, value: CurrentUserId, optionsValue: 'Id', optionsText: 'UserName'"></select>
    </div>
    <div class="notifSection">
        <ul class="notifTable">
            <li class="headerRow">
                <div class="from" data-bind="click: ToggleFromSort">
                    <span class="sortTitle">@ClientDefault.EditDocument_NotificationFrom</span>
                    <span class="sortIcon" data-bind="css: { 'icon-caret-down': IsFromSortedDown(), 'icon-caret-up': !IsFromSortedDown() }"></span>
                </div>
                <div class="date" data-bind="click: ToggleDateSort">
                    <span class="sortTitle">@ClientDefault.Notifications_Date</span>
                    <span class="sortIcon" data-bind="css: { 'icon-caret-down': IsDateSortedDown(), 'icon-caret-up': !IsDateSortedDown() }"></span>
                </div>
                
                <span class="subject">@ClientDefault.EditDocument_NotificationSubject</span>
                <span class="related">@ClientDefault.EditDociment_NotificationRelatedDocument</span>
                <span class="lineBreak"></span>
            </li>

            <!-- ko foreach:DisplayedNotifications  -->
                <li class="dataRow" data-bind="click: $root.SelectNotification, css: { 'newNotif': !IsRead(), 'selectedNotif': IsSelected }">                                    
                    <span class="from" data-bind="text: $root.GetUserName($data.SenderId)"></span>
                    <span class="date" data-bind="text: DateText"></span>
                    <span class="subject" data-bind="text: Subject"></span>
                    <span class="related" data-bind="text: DocumentTitle, click: $root.NavigateToDocument"></span>
                    <span class="lineBreak"></span>
                </li>
            <!-- /ko -->

            <!-- ko if: NoNotifications  -->
            <li class="noNotifications">
                <span>@ClientDefault.Notifications_NoNotifications</span>
            </li>
            <!-- /ko  -->
        </ul>
        <div class="notifPreviewSection" data-bind="visible: IsViewNotificationToggled, with: CurrentNotification">
            <span data-bind="text: $root.FormatFromLabel()"></span>
            <span data-bind="text: $root.FormatRelatedLabel()"></span>
            <span data-bind="text: $root.FormatSubjectLabel()"></span>
            <textarea disabled="disabled" data-bind="text: Content"></textarea>
        </div>

        <div class="notifAnswerSection" data-bind="visible: IsAnswerNotificationToggled, with: AnswerNotificationModel">
            <span class="singleLine" data-bind="text: $root.FormatToLabel()"></span>
            <span class="singleLine" data-bind="text: $root.FormatRelatedLabel()"></span>
            <div class="sibjectBar">
                <span>@ClientDefault.EditDocument_NotificationSubject</span>:&nbsp;<span data-bind="text: Subject"></span>
            </div>
            <textarea id="answer-response-area" data-bind="value: Content, hasfocus: TextFocus"></textarea>
        </div>

        <div data-bind="visible: IsCustomMessageOn" class="customMessage">
            <span data-bind="text: CustomMessage"></span>
        </div>

        <div class="buttonBar">
            <a data-bind="click: OpenAnswerToNotification, visible: !IsAnswerNotificationToggled()">@ClientDefault.Notifications_Answer</a>
            <a data-bind="visible: IsAnswerNotificationToggled, click: SubmitAnswer">@ClientDefault.EditDocument_Send</a>
            <a data-bind="click: DeleteSelectedNotification">@ClientDefault.UserAccount_Delete</a>            
            @if (CurrentUser.Details(User.Identity.Name).Role == AccountRoles.Carer)
            {
                <a href="/Users/List">@ClientDefault.DocumentEdit_Close</a>
            }
            else
            {
                <a href="/Documents/List">@ClientDefault.DocumentEdit_Close</a>
            }
            
        </div>
    </div>

</div>

@Html.HiddenFor( x => x.JsonData, new { id = "hidJasonData"})

@Scripts.Render("~/bundles/moment")

@*<script src="~/Scripts/NotificationsViewModel.js"></script>*@
@Scripts.Render("~/bundles/notifications")

